<?xml version="1.0" encoding="utf-8" ?> 
<codeSmith>
<namespace>HsrOrderApp.BusinessLayer.DataMapper</namespace>
	<imports>
		<import namespace="System" />
		<import namespace="System.Text" />
		<import namespace="System.Collections" />
		<import namespace="System.Reflection" />
		<import namespace="System.Data" />
		<import namespace="System.Data.SqlClient" />
		<import namespace="Storm.Lib" />
		<import namespace="Storm.Attributes" />
		<import namespace="HsrOrderApp.BusinessLayer.DomainModel" />
	</imports>
	<propertySets>
		<propertySet>
			<property name="assemblyLoader">
				<AssemblyLoader>
					<SourceAssembly>D:\ooxgen\code\HsrOrderApp_S4\BusinessLayer\bin\Debug\BusinessLayer.dll</SourceAssembly>
					<ClassName>Product</ClassName>
				</AssemblyLoader>
			</property>
		</propertySet>
	</propertySets>
	<template path="..\Templates\MapperGen.cst" />
</codeSmith>